In [4]:
#1
import pandas as pd
import csv

In [3]:
data = [ ['Name','Runs','StrikeRate','Status'] ,
       ['R.Sharma','4','101','Out'],
       ['S.Gill','8','95','Out'] ,
       ['V.Kholi','15','59','NotOut'],
       ['A.Rahane','16','81','Out'],
       ['R.Jadeja','23','73','Out'],
       ['MS.Dhoni','42','59','NotOut']]

In [5]:
with open('india_batting.csv','w') as f:
    writer = csv.writer(f)
    for i in data:
        writer.writerow(i)

In [6]:
df = pd.read_csv("india_batting.csv")

In [8]:
df['Runs']

0     4
1     8
2    15
3    16
4    23
5    42
Name: Runs, dtype: int64

In [9]:
type(df['Runs'])

pandas.core.series.Series

In [10]:
print(df['Runs'])

0     4
1     8
2    15
3    16
4    23
5    42
Name: Runs, dtype: int64

In [11]:
#2
data.append(['R.Ashwin','0','100','NA'])
data.append(['J.Bumrah','0','100','NA'])
data.append(['Y.Chahal','0','100','NA'])
data.append(['M.Shami','0','100','NA'])

In [12]:
data

[['Name', 'Runs', 'StrikeRate', 'Status'],
 ['R.Sharma', '4', '101', 'Out'],
 ['S.Gill', '8', '95', 'Out'],
 ['V.Kholi', '15', '59', 'NotOut'],
 ['A.Rahane', '16', '81', 'Out'],
 ['R.Jadeja', '23', '73', 'Out'],
 ['MS.Dhoni', '42', '59', 'NotOut'],
 ['R.Ashwin', '0', '100', 'NA'],
 ['J.Bumrah', '0', '100', 'NA'],
 ['Y.Chahal', '0', '100', 'NA'],
 ['M.Shami', '0', '100', 'NA']]

In [13]:
with open('india_batting.csv','w') as f:
    writer = csv.writer(f)
    for i in data:
        writer.writerow(i)

In [14]:
df2 = pd.read_csv('india_batting.csv')

In [15]:
df2

       Name  Runs  StrikeRate  Status
0  R.Sharma     4         101     Out
1    S.Gill     8          95     Out
2   V.Kholi    15          59  NotOut
3  A.Rahane    16          81     Out
4  R.Jadeja    23          73     Out
5  MS.Dhoni    42          59  NotOut
6  R.Ashwin     0         100     NaN
7  J.Bumrah     0         100     NaN
8  Y.Chahal     0         100     NaN
9   M.Shami     0         100     NaN

In [16]:
df2['Name']

0    R.Sharma
1      S.Gill
2     V.Kholi
3    A.Rahane
4    R.Jadeja
5    MS.Dhoni
6    R.Ashwin
7    J.Bumrah
8    Y.Chahal
9     M.Shami
Name: Name, dtype: object

In [17]:
type(df2['Name'])

pandas.core.series.Series

In [18]:
print(df2['Name'])

0    R.Sharma
1      S.Gill
2     V.Kholi
3    A.Rahane
4    R.Jadeja
5    MS.Dhoni
6    R.Ashwin
7    J.Bumrah
8    Y.Chahal
9     M.Shami
Name: Name, dtype: object

In [19]:
#3
data2 = [['Name','Age','Gender'],
        ['Alice','25','Female'],
        ['Bob','30','Male'],
        ['Claire','27','Female']]

In [20]:
with open('data2.csv','w') as f:
    writer = csv.writer(f)
    for i in data2:
        writer.writerow(i)

In [21]:
df3 = pd.read_csv('data2.csv')

In [23]:
print(df3)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [24]:
#4
#In pandas, a DataFrame is a two-dimensional labeled data structure that is designed to handle and manipulate tabular data, similar to a 
#spreadsheet or a SQL table. It is one of the core data structures provided by the pandas library. A DataFrame consists of rows and columns,
#where each column can contain different data types (e.g., integers, floats, strings) and is represented as a pandas Series.

#On the other hand, a pandas Series is a one-dimensional labeled array that can hold data of any type. It can be seen as a single column of a DataFrame. Series objects are built on top of NumPy arrays and provide additional functionality, such as labeled indexing and alignment.

#To illustrate the difference between a DataFrame and a Series, let's consider an example:
import pandas as pd

# Creating a Series
ser = pd.Series([1, 2, 3, 4, 5])
print(ser)

#Output:

#0    1
#1    2
#2    3
#3    4
#4    5
#dtype: int64
#```

#In this example, we create a Series named `ser` with integer values. The output displays the values along with their corresponding indices (0 to 4).
#The Series has a single column of data.

#Now, let's create a DataFrame using multiple Series:

data = {'Name': pd.Series(['Alice', 'Bob', 'Charlie']),
        'Age': pd.Series([25, 30, 35]),
        'Country': pd.Series(['USA', 'UK', 'Canada'])}

df = pd.DataFrame(data)
print(df)

#Output:

#      Name  Age  Country
#0    Alice   25      USA
#1      Bob   30       UK
#2  Charlie   35   Canada


#In this example, we create a DataFrame named `df` using three Series: 'Name', 'Age', and 'Country'. Each Series represents a column of the DataFrame. 
#The output displays a tabular structure where each column represents a variable, and each row represents an observation.

0    1
1    2
2    3
3    4
4    5
dtype: int64
      Name  Age Country
0    Alice   25     USA
1      Bob   30      UK
2  Charlie   35  Canada

In [26]:
#5
#Pandas provides a wide range of functions to manipulate data in a DataFrame. Here are some common functions:

#1.head() and tail(): These functions allow you to view the first or last few rows of a DataFrame. They are useful for quickly inspecting the data 
#to get an idea of its structure or contents.

#df1 = pd.read_csv('data.csv')  # Assuming data is loaded from a CSV file
#print(df.head())  # Display the first 5 rows
#print(df.tail(3))  # Display the last 3 rows


#2. nfo(): This function provides a summary of the DataFrame, including the data types, non-null counts, and memory usage. 
#It helps in understanding the composition of the DataFrame.

#df = pd.read_csv('data.csv')
#df.info()


#3.describe(): This function generates descriptive statistics of the numerical columns in the DataFrame, such as count, mean, standard deviation, 
#minimum, maximum, and quartiles. It provides a quick overview of the distribution and central tendencies of the data.

#df = pd.read_csv('data.csv')
#print(df.describe())


#4.sort_values(): This function allows you to sort the DataFrame by one or more columns. It is useful for arranging the data in a specific order, 
#such as ascending or descending.

#df = pd.read_csv('data.csv')
#sorted_df = df.sort_values('Age')  # Sorting by the 'Age' column in ascending order
#print(sorted_df)


#5.groupby() and agg(): These functions are used for grouping and aggregating data based on specific criteria. They allow you to perform 
#operations on subsets of the data or calculate summary statistics.
#df = pd.read_csv('data.csv')
#grouped_df = df.groupby('Country').agg({'Age': 'mean', 'Salary': 'sum'})  # Calculate average age and total salary by country
#print(grouped_df)

#These are just a few examples of the many functions available in pandas for data manipulation. The choice of function depends on the specific task
#or analysis you want to perform on your DataFrame.

In [28]:
# #6
# #In pandas, the mutable nature refers to the ability to modify the object after it is created. Among the options you provided, both Series and 
# #DataFrame are mutable, while Panel is deprecated in recent versions of pandas.

# #1.Series: A pandas Series is mutable, meaning you can modify its values, add or remove elements, and update its index or data. You can modify a 
# #Series using indexing or assignment operations.
# import pandas as pd

# ser = pd.Series([1, 2, 3, 4, 5])

# # Modifying values
# ser[2] = 10

# # Adding elements
# ser[5] = 6

# # Removing elements
# ser.drop(4, inplace=True)

# print(ser)


# 2 DataFrame: A pandas DataFrame is also mutable. You can modify its columns, add or remove columns or rows, update values, and 
#perform various operations on the data.
# import pandas as pd

# data = {'Name': ['Alice', 'Bob', 'Charlie'],
#         'Age': [25, 30, 35],
#         'Country': ['USA', 'UK', 'Canada']}

# df = pd.DataFrame(data)

# # Modifying columns
# df['Age'] = [26, 31, 36]

# # Adding a new column
# df['Gender'] = ['Female', 'Male', 'Male']

# # Removing a column
# df.drop('Country', axis=1, inplace=True)

# # Adding a new row
# new_row = pd.Series(['Dave', 40, 'Australia', 'Male'], index=df.columns)
# df = df.append(new_row, ignore_index=True)

# print(df)

# 3.Panel: The Panel data structure in pandas has been deprecated since version 0.20.0. It was a three-dimensional data structure that could hold 
#multiple DataFrames. It is recommended to use other pandas data structures like DataFrame or MultiIndex DataFrame for similar functionality.

In [29]:
# DataFrame is a two-dimensional data structure that can hold data of different types in columns. It is a tabular data structure similar to a spreadsheet or SQL table. To create a DataFrame using multiple Series, you can pass the Series objects as a dictionary or as separate arguments to the DataFrame constructor.

# Here's an example:

# import pandas as pd

# # Create a Series for the 'name' column
# name_series = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])

# # Create a Series for the 'age' column
# age_series = pd.Series([25, 30, 35, 40])

# # Create a DataFrame using the Series
# df = pd.DataFrame({'Name': name_series, 'Age': age_series})

# # Print the DataFrame
# print(df)

# Output:
#       Name  Age
# 0    Alice   25
# 1      Bob   30
# 2  Charlie   35
# 3    David   40

# In this example, we created two Series objects, `name_series` and `age_series`. The `name_series` contains names, and the `age_series` contains corresponding ages. Then, we used these Series to create a DataFrame `df` by passing them as a dictionary where the keys are the column names ('Name' and 'Age') and the values are the Series objects.

# Finally, we printed the DataFrame, which displays the data in a tabular format with the specified column names and the corresponding values from the Series. Each row in the DataFrame represents an observation, and each column represents a variable.